{% extends "base.html" %}
{% block content %}

<div class="row">
 <div class="small-12 columns">
    <h1>h1 heading</h1>
	  <h1 class="subheader right">h1 SUB<small>header</small></h1>
 </div
</div>
<div class="row">
	<div class="medium-8 columns text-justify">

    <!--BLOCK GRIDS-->

<ul class="medium-block-grid-4">
		<li><p>Lorem ipsum dolor sit amet, ex nec libris insolens pertinacia. Ex ius eius saperet. Eu duis doming eos. Mei ut errem lobortis senserit, ei nibh nostrud cum. Eam aliquam liberavisse in, partiendo percipitur nam id. Nam an velit quidam volutpat, zril necessitatibus ex his, omnium reprimique mel an.</p></li>
	  <li><p>Stet dicam utamur eu has. His ei partem voluptaria assueverit. Mazim choro cum et. Nisl nusquam scriptorem cum ut, agam veri ei ius. Nam ex eligendi temporibus, ius probo tantas adolescens ad. Id vis dissentias consequuntur, odio delectus eam id.</p></li>
		<li><p>Cibo affert honestatis et sea, tota omnis disputationi id has, iudicabit dissentiunt usu ut. At ius falli audire impedit. Sale quodsi tincidunt eu sit, ius vivendo volutpat ocurreret ut. Vide persecuti sea ex.</p></li>
		<li><p>Id partem fuisset convenire est. Legimus consulatu vulputate cum ex, cum eirmod iriure diceret id, est ad ancillae sapientem. Movet numquam an vim, illum ridens apeirian eu est. Ei aeque reprimique vix. Nobis doctus sadipscing est te, sea causae vivendo referrentur cu. Cu hendrerit similique vix.</p></li>
</ul>
  <!--END BLOCKS-->
	</div>
	<div class="medium-4 columns">
		<h2>h2 heading</h2>
		<ul class="pricing-table hide-for-medium">
		  <li class="title">Product title</li>
		  <li class="price">$300.00</li>
		  <li class="description">A description of a product might include information that helps to describe the product better.</li>
		  <li class="bullet-item">Item 1 included</li>
		  <li class="bullet-item">Included item two</li>
		  <li class="cta-button"><a class="button" href="#">Buy Now!</a></li>
		</ul>
	</div>
</div>

<div class='row'>
  <!-- NAV-LIKE TABLES-->
  <div class='medium-6 columns'>
	  <h3 >Tabbed Content</h3>
		<dl class="tabs" data-tab>
		  <dd class="tab-title active"><a href="#tab1">Tab1</a></dd>
		  <dd class="tab-title"><a href="#tab2">Tab2</a></dd>
		  <dd class="tab-title"><a href="#tab3">Tab3</a></dd>
		</dl>
    <div class="tabs-content">
		  <div id="tab1" class="content active">
			<p>First tab content Id partem fuisset convenire est. Legimus consulatu vulputate cum ex, cum eirmod iriure diceret id, est ad ancillae sapientem. Movet numquam an vim, illum ridens apeirian eu est. Ei aeque reprimique vix. Nobis doctus sadipscing est te, sea causae vivendo referrentur cu. Cu hendrerit similique vix.</p>
		  </div>
		  <div id="tab2" class="content">
			<p>Second tab content Harum legimus has ut. Ius reque referrentur an. Est in sapientem elaboraret, mundi fastidii oportere nam et. Ex facete reprehendunt pri.</p>
		  </div>
		  <div id="tab3" class="content">
			<p>Third tab content Fugit mazim interesset ut sit, cu has audire iisque. Labitur forensibus pri eu, at dolor patrioque reprehendunt vim. Sea legere regione an. Posidonium sadipscing vim ea, eam eu nihil impetus nominati, per graece regione molestie no.</p>
		  </div>
    </div>
  </div>

  <!--ACCORDION-->
  <div class='medium-6 columns'>
    <h3 >Accordion Content</h3>
    <ul class="accordion" data-accordion>
      <li class="accordion-navigation"> <a href="#acc1">Accordion Button 1</a>
        <div id="acc1" class="content">
          <h4>Accordion Panel 1</h4>
          Id partem fuisset convenire est. Legimus consulatu vulputate cum ex, cum eirmod iriure diceret id, est ad ancillae sapientem. Movet numquam an vim, illum ridens apeirian eu est. </div>
      </li>
      <li class="accordion-navigation"> <a href="#acc2">Accordion Button 2</a>
        <div id="acc2" class="content">
          <h4>Accordion Panel 2</h4>
          Harum dissentiunt pri ei, in vis everti iuvaret detracto. Tale atqui putent te vix, euismod quaestio dissentiunt duo ad, nihil platonem principes nec no. Duis vivendum interpretaris eam ut, ponderum vivendum et vix. </div>
      </li>
      <li class="accordion-navigation"> <a href="#acc3">Accordion Button 3</a>
        <div id="acc3" class="content">
          <h4>Accordion Panel 3</h4>
          Lorem ipsum dolor sit amet, ex nec libris insolens pertinacia. Ex ius eius saperet. Eu duis doming eos. Mei ut errem lobortis senserit, ei nibh nostrud cum. Eam aliquam liberavisse in, partiendo percipitur nam id.  </div>
      </li>
    </ul>
  </div>

</div>
{% endblock %}
