{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="medium-8 column">
    <h1 class="panel">Python 4Ever</h1>
  </div>
</div>
<div class="row">
<div class="medium-6 large-8 column">
<img src="static/img/tours-wide.png" alt="" />
</div>
<div class="medium-6 large-4 column">
<p>
  Lorem ipsum dolor sit amet, ex nec libris insolens pertinacia. Ex ius eius saperet. Eu duis doming eos. Mei ut errem lobortis senserit, ei nibh nostrud cum. Eam aliquam liberavisse in, partiendo percipitur nam id. Nam an velit quidam volutpat, zril necessitatibus ex his, omnium reprimique mel an.
</p>
</div>
</div>

<div class="row">
<div class="medium-8 column">


<div class="row small-collapse large-uncollapse" data-equalizer>
<div class="medium-4 column">
<p class="panel" data-equalizer-watch>
  Stet dicam utamur eu has. His ei partem voluptaria assueverit. Mazim choro cum et. Nisl nusquam scriptorem cum ut, agam veri ei ius. Nam ex eligendi temporibus, ius probo tantas adolescens ad. Id vis dissentias consequuntur, odio delectus eam id.

</p>
</div>
<div class="medium-4 column">
<p class="panel" data-equalizer-watch>
  Cibo affert honestatis et sea, tota omnis disputationi id has, iudicabit dissentiunt usu ut. At ius falli audire impedit. Sale quodsi tincidunt eu sit, ius vivendo volutpat ocurreret ut. Vide persecuti sea ex.

</p>
</div>
<div class="medium-4 column">
<p class="panel" data-equalizer-watch>
  Id partem fuisset convenire est. Legimus consulatu vulputate cum ex, cum eirmod iriure diceret id, est ad ancillae sapientem. Movet numquam an vim, illum ridens apeirian eu est. Ei aeque reprimique vix. Nobis doctus sadipscing est te, sea causae vivendo referrentur cu. Cu hendrerit similique vix.

</p>
</div>
</div>
</div>
<div class="medium-4 column">
<img src="static/img/ny-skyline.jpg" alt="" />
</div>
</div>
</div>
{% endblock %}
